$link_color: rgba(230, 225, 225, 0.733);
$navbar_color:#3d4483;

nav {
    background-color: $navbar_color;
    div {
        .nav_link {
            text-decoration: none;
            color:$link_color;
        }
    }
    .account {
        text-decoration: none;
        color:$link_color;
    }
}
